<%- include("../inc/_header") %> 


<h1><%= title %></h1>

<div>
    <strong>Firstname:</strong> <%= person.firstname %>
</div>
<div>
    <strong>Lastname:</strong> <%= person.lastname %>
</div>
<div>
    <strong>Birthday:</strong> <%= person.birthday %>
</div>

<div>
    <a class="back-link" href="#">Back</a>
</div>

<%- include("../inc/_footer") %>
