<%- include("../inc/_header") %> 


<h1><%= title %></h1>

<ul>
    <% people.forEach((person) => { %>
        <li>
            <a href="<%= url("person:detail", person.id) %>"><%= person.firstname %></a>
        </li>    
    <% }) %>
</ul>

<%- include("../inc/_footer") %>
