extends ../layouts/base.pug

block content 
    h1 #{title}
    div 
        a(href=path("person:create")) Create person
    ul 
        each person in people 
            li 
                a(href=path("person:detail", {id: person.id})) #{person.firstname} &nbsp 
                a(href=path("person:update", {id: person.id})) [Edit] &nbsp
                a(href=path("person:delete", {id: person.id})) [Delete]





